.carousel-container ul, .carousel-container ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	height: 100%;
}
.carousel-container .controls {
	z-index: 1000;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #333;
	background-color: rgba(0, 0, 0, 0.85);
	color: #fff;
}
	.carousel-container .controls .offscreen {
		position: absolute;
		left: -9999px;
		width: 0;
		height: 0;
	}
	.carousel-container .controls .toggle-play,
	.carousel-container .controls .toggle-play:active {
		float: left;
		border: none;
		background-color: transparent;
		color: #fff;
		font-size: 16px;
		height: 50px;
		cursor: pointer;
		padding: 0;
		margin: 0 0 0 10px;
	}
	.carousel-container .controls .toggle-play:hover,
	.carousel-container .controls .toggle-play:focus {
		color: #bbb;
	}
	.carousel-container .controls ul {
		margin: 0 auto;
		padding: 0;
	}
		.carousel-container .controls ul li {
			float: left;
			padding: 17px 4px;
		}
			.carousel-container .controls ul li button {
				border: none;
				height: 16px;
				width: 16px;
				margin: 0;
				padding: 0;
				background-color: #777;
				background-color: rgba(255, 255, 255, 0.3);
				border-radius: 50%;
				cursor: pointer;
				text-indent: -9999px;
				text-transform: capitalize;
				float: left;
			}
			.carousel-container .controls ul li button:hover,
			.carousel-container .controls ul li button:focus,
			.carousel-container .controls ul li button:active {
				background-color: #bbb;
				background-color: rgba(255, 255, 255, 0.6);
			}
			.carousel-container .controls ul li button.active {
				background-color: #fff;
			}
